/bootstrap/cache/*.php
/bootstrap/cache/services.php
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.example
.env.backup
.phpunit.result.cache
.gitignore
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
config/database.php
database/sql/laravel_role.sql
composer.lock
/.fleet
/.idea
/.vscode
/.zed
auth.json